@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    top: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar .navbar-nav .nav-item {
    padding: 10px;
}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover {
    color: #1E2F97;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: rgb(0, 0, 255);
}

.logo {
    width: 200px;
}

.navbar-toggler {
    width: 50px;
    float: right;
}

.btn-primary {
    color: #fff;
    background-color: #1E2F97;
}
.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}