@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
   /* CSS HEX */
--royal-blue-dark: #021854ff;
--winter-sky: #FD307Bff;
--celtic-blue: #236BC4ff;
--dark-cornflower-blue: #053C86ff;
--bleu-de-france: #338DEAff;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    /*--hhhhh*/
     /* Style The Dropdown Button */

     /*--hhhhh*/
    .navbar{
        border-top: 4px solid #031b4e;
        top: 0px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .navbar .navbar-nav .nav-item {
        padding: 10px;
    }
    
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
    }
    
    .navbar .navbar-nav .nav-link:hover {
        color: #1E2F97;
    }
    
    .link {
        text-decoration: none;
        color: #fff;
    }
    
    .link:hover {
        color: rgb(0, 0, 255);
    }
    .dropdown-item{
        padding: 10px 20px;
    }
    .logo {
        width: 200px;
    }
    
    .navbar-toggler {
        width: 50px;
        float: right;
    }
   
    .btn-primary {
        color: #fff;
        background-color: #1E2F97;
    }

    /*homepage section*/
    
.homepage-section{
    padding:90px 10%;
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.left{
    padding: 10% 15%;
}
.text{
    font-size: 12px;
}
.big-title h1{ 
    color: var(--royal-blue-dark);
   font-size: 60px;
    font-weight: 900;
    text-shadow: #575a7b;
  
}
.btn-homepage{
    display: inline-block;
    padding: 23px 43px;
    background:#fff ;
    color: var(--royal-blue-dark);
    border: 1px solid #031b4e;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: none;
}
.btn-homepage:hover{
    background:var(--royal-blue-dark);
    color: #fff;
    
}

/*--features*/
    .card {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        padding: 0.5em 0.5em;
        background: linear-gradient(#ffffff 50%, #1E2F97 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
    .card-body{
        display: flex;
        align-items: center;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #1E2F97;
        margin: 1em 0;
        font-family: 'Poppins', sans-serif;
    }
   
  
    .features-header {
        color:#031b4e;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    
    .feature-icon-one {
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: var(--winter-sky);
        display:inline-block;
        transition: 0.5s;
    }
     
    .feature-icon-two {
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color:var(--winter-sky);
        display:inline-block;
        transition: 0.5s;
    }
     
    .feature-icon-three {
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: var(--winter-sky);
        display:inline-block;
        transition: 0.5s;
    }
    
    .features-text {
        color: #000;
        font-weight: 700;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .features-link {
        text-decoration: none;
        color: #000;
        font-size: 4vw;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    .feature-text{
        padding-left: 20px;
    }
    .feature-text h4{
        font-size: 14px;
        font-weight: 700;
    }
    .feature-text p {
        color: #575a7b;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
    }
    
    /*......Features section*/
 .about{
    height: 100vh;
    width: 100%;
    background: url("/labresearch/shape-bg-01.png");
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .grey-bg{
    background: gainsboro;
 }
 .about-img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;

 } 
 .all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
 }
 .main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }
 .all-text h4{
    font-size: 18px;
    color: #1E2F97;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
 }
 .all-text h1{
    color:#031b4e;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
 }
 .all-text p{
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
 }

/*Gallery display*/
#section_counter{
    padding: 5rem 0;
    background: #ffffff;
}
.counter-container{
    max-width: 112rem;
    margin:0 auto ;
    padding: 0 1rem;
    background: #ffffff;
}
.counter-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.3rem;
}
.counter-item{
    padding: 4rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--royal-blue-dark);
    transition: all 0.5s ease-in-out;
}
.item-one:hover{
    border: 1px solid var(--winter-sky);
    transition: 0.5s;
}
.item-two:hover{
    border: 1px solid var(--bleu-de-france);
    transition: 0.5s;
}
.item-three:hover{
    border: 1px solid var(--celtic-blue);
    transition: 0.5s;
}
.item-four:hover{
    border: 1px solid var(--dark-cornflower-blue);
}
.counter-item counter{
    font-size: 4.5rem;
    color: transparent;
    color: transparent;
    letter-spacing: 0.5rem;
    -webkit-text-stroke-width: 0.15rem;
    -moz-text-stroke-width:0.15rem;
    -ms-text-stroke-width:0.15rem;
    -o-text-stroke-width:0.15rem;
    -webkit-text-stroke-color: #000;
    -moz-text-stroke-color:#000;
    -ms-text-stroke-color:#000;
    -o-text-stroke-width-color:#000;

}
 /*team section*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:var(--royal-blue-dark); /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color:grey; /* Add a dark-grey background on hover */
}





    @media screen and (max-width: 1000px) {
 
   
     .all-text{
        
        margin-top:40px ;
     }
    }  

   
        @media screen and (max-width: 798px) and (min-width:300px){
            .h3, h3 {
                font-size: 18px;
                font-weight: 500;
            }
            .homepage-section{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .big-title{
                text-align: center;
            } 
            .about{
                width: 100%;
                height: auto;
                padding: 60px 0;
             } 
            .text{
                text-align: center;
            }
            .button-section{
                text-align: center;
            }
            .features-header {
                font-size: 18px;
            }
          
            .all-text{
                text-align: center;
                margin-top:40px ;
             }
          
            .text-contact h3{
                text-align: center;
            }    
    }
    @media (max-width:500px) {
        .counter_box{
            flex-basis:100%
        }    
    }