@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    /*--hhhhh*/
     /* Style The Dropdown Button */

     /*--hhhhh*/
    .navbar{
        border-top: 4px solid #031b4e;
        top: 0px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .navbar .navbar-nav .nav-item {
        padding: 10px;
    }
    
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
    }
    
    .navbar .navbar-nav .nav-link:hover {
        color: #1E2F97;
    }
    
    .link {
        text-decoration: none;
        color: #fff;
    }
    
    .link:hover {
        color: rgb(0, 0, 255);
    }
    .dropdown-item{
        padding: 10px 20px;
    }
    .logo {
        width: 200px;
    }
    
    .navbar-toggler {
        width: 50px;
        float: right;
    }
   
    .btn-primary {
        color: #fff;
        background-color: #1E2F97;
    }

    /*homepage section*/
    
.homepage-section{
    padding:70px 17%;
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.big-title h1{
    color: #031b4e;
   font-size: 60px;
    font-weight: 900;
    text-shadow: #575a7b;
  
}
.btn-homepage{
    display: inline-block;
    padding: 23px 43px;
    background:#fff ;
    color: #031b4e;
    border: 1px solid #031b4e;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: none;
}
.btn-homepage:hover{
    background:#031b4e;
    color: #fff;
    
}

/*--features*/
    .card {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        padding: 0.5em 0.5em;
        background: linear-gradient(#ffffff 50%, #1E2F97 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
    .card-body{
        display: flex;
        align-items: center;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #1E2F97;
        margin: 1em 0;
        font-family: 'Poppins', sans-serif;
    }
    
  
    .features-header {
        color:#031b4e;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    
    .feature-icon {
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: #1E2F97;
        display:inline-block;
        transition: 0.5s;
    }
    
    .features-text {
        color: #000;
        font-weight: 700;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .features-link {
        text-decoration: none;
        color: #000;
        font-size: 4vw;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    .feature-text{
        padding-left: 20px;
    }
    .feature-text h4{
        font-size: 14px;
        font-weight: 700;
    }
    .feature-text p {
        color: #575a7b;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
    }
    
    /*......Features section*/
 .about{
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .about-img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;

 } 
 .all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
 }
 .main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }
 .all-text h4{
    font-size: 18px;
    color: #1E2F97;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
 }
 .all-text h1{
    color:#031b4e;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
 }
 .all-text p{
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
 }
 .counter-section{
    height: 25vh;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
    background-color: #1E2F97;
    color: #fff;
 }
 .counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 span.num{
    font-size: 40px;
    font-weight: 700;
 }
 span.text{
    font-size: 15px;
    font-size: 700;
    text-transform: uppercase;
 }
.team-section{
    padding: 15px 0;
}
.contact-section{
    padding: 20px 17%;
    background: #1E2F97;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;

}
.text-contact h3{
   font-weight: 700;
   color: #fff;
   margin-bottom: 10px;
  
}
.text-contact p{
    color: rgb(225, 225, 225,0.8);
}
.btn-contact{
    display: inline-block;
    padding: 10px 43px;
    background: #fff;
    color: #031b4e;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: none;
    -webkit-box-align:center;
 
}
.btn-contact:hover{
    background: #031b4e;
    color: #fff;
}
 /*----SERVICES SECTION---*/

 



    @media screen and (max-width: 1000px) {
 
     .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
     } 
     .all-text{
        
        margin-top:40px ;
     }
    }  

   
        @media screen and (max-width: 798px) and (min-width:300px){
            .h3, h3 {
                font-size: 18px;
                font-weight: 500;
            }
    
            .features-header {
                font-size: 18px;
            }
            .homepage-section{
               display: flex;
               justify-content: center;
               align-items: center;
            }
            .all-text{
                text-align: center;
                margin-top:40px ;
             }
             .counter-section{
                flex-direction: column;
                padding: 10px;
                height: 100%;
             }
             .contact-section{
                flex-direction: column;
             }
            .text-contact h3{
                text-align: center;
            }    
    }