    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        position: sticky;
    }
    
    .navbar .navbar-nav .nav-item {
        padding: 10px;
    }
    
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .navbar .navbar-nav .nav-link:hover {
        color: #1E2F97;
    }
    
    .link {
        text-decoration: none;
        color: #fff;
    }
    
    .link:hover {
        color: rgb(0, 0, 255);
    }
    
    .logo {
        width: 150px;
    }
    
    .navbar-toggler {
        width: 50px;
        float: right;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #1E2F97;
    }
    /*homepage section*/
    /*End homepage section*/
    
    .social-media-icon {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .social-media-icon li {
        float: right;
    }
    
    .social-media-icon li a {
        display: block;
        padding: 8px;
        background-color: #fff;
    }
    
    .social-icon li {
        list-style-type: none;
    }
    
    .btn {
        vertical-align: bottom;
        border: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
        font-weight: 500;
        padding: .625rem 1.5rem .5rem;
        font-size: .75rem;
        line-height: 1.5;
    }
    
    .container {
        position: relative;
    }
    /*features section*/
    
    .card {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        background: linear-gradient(#ffffff 50%, #1E2F97 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #1E2F97;
        margin: 1em 0;
    }
    
    p {
        color: #575a7b;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }
    
    .features-header {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .feature-icon {
        background-color: #1E2F97;
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.5s;
    }
    
    .features-text {
        color: #000;
        font-weight: 700;
        font-size: 15px;
    }
    
    .features-link {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        font-weight: 700;
    }
    /*......Features section*/
    /*----SERVICES SECTION---*/
    
    @media screen and (max-width: 1000px) {
        .social-media-icon li a {
            display: none;
        }
    }
    
    @media screen and (max-width: 600px) {
        .features-header {
            font-size: 18px;
        }
        .social-media-icon li a {
            display: none;
        }
    }