@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  
}
.login{
    display: flex;
    height: 100vh;
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;

}
.left h1{
    margin-bottom: 15px;
}
.left h3{
    margin-bottom: 20px;
}

.group{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    text-align: left;
}

.group label,
.group input{
    width:100%;
}
.group label{
    margin-bottom: 10px;
}
.group input{
    padding: 12px 12px 12px 55px;
}

.group i.fa{
    position: absolute;
    width: 50px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2B32B2;
    border-radius: 5px 0 0 5px;
    top: 30px;
}

button,label,p,a,input{
    font-size: 14px;
}




button{
    font-size: 14px;
    padding: 10px;
    border: 0;
    background-color: #2B32B2;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

.group input{
    border-radius: 5px;
    border:2px solid #aaa;
}

.group .i{
    display: flex;
    flex-direction: row;
}
button i{
    margin-right: 5px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    width: 60%;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.right h1{
    margin-bottom:30px;
    font-size: 40px;
   color: #fff;
}
.right p{
    font-weight: 500;
    font-size: 18px;
    text-align: center ;
}