/* CSS HEX */


/* SCSS HEX */
$mystic: #d9e0e9;
$nepal: #8ba4be;
$blumine: #1e4d84;
$bermuda-gray: #6d8bad;
$nepal: #829cbc;
$san-marino: #426997;
$chambray: #345e94;
$nepal: #94a4c4;
$wedgewood: #547ca4;


